* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-left: 40px;
  margin-right: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  border-bottom: 3px solid #f1f1f1;
  margin-right: 40px;
  margin-left: 0px;
  margin-top: 30px;
}

.logo-name {
  display: flex;
}

.logo {
  width: 130px;
  height: 37px;
  margin: 20px 0px;
}

img {
  width: 100%;
}

.menu-list {
  display: flex;
  align-self: center;
  gap: 20px;
}

.menu-items {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #191919;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #191919;
  margin-top: 60px;
}

.par-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #595959;
  margin-top: 15px;
}

.read-more-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px 36px;
  width: 153px;
  height: 48px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.005em;
  background-color: #52d0f0;
  color: #ffffff;
  margin: 30px 167px 30px 40px;
}

.hero-img {
  margin-top: 60px;
  margin-right: 40px;
  width: 200px;
  height: 235px;
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    width: 100%;
  }
  .hero-text {
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
  }
  .par-text {
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
  }

  .read-more-button {
    display: block;
    margin: 0 auto;
    width: 153px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .hero-img {
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
  }
}
